.wallet-card {
    display: flex;
    padding: 16px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    border: 0.4px solid var(--copper-accents, #B87333);
    background: conic-gradient(from 135deg at 50% 50%, #F5DEB3 88.62349569797516deg, #FFF8DC 178.65913152694702deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 16px
}

.card-content {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.header-section {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.wallet-icon {
    width: 56px;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.wallet-main {
    width: 56px;
    height: 44px;
    position: absolute;
    left: 3.33px;
    top: 8.33px;
    background-color: #92400e;
    /* amber-800 */
    outline: 0.2px solid #92400e;
}

.wallet-flap {
    width: 16px;
    height: 20px;
    position: absolute;
    left: 33.07px;
    top: 22.70px;
    background-color: #92400e;
    /* amber-800 */
    outline: 0.2px solid #92400e;
}

.wallet-button {
    width: 2.54px;
    height: 2.60px;
    position: absolute;
    left: 16.60px;
    top: 29.56px;
    background-color: #92400e;
    /* amber-800 */
    border: 0.5px solid #92400e;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.title-textP {
    color: var(--warm-wood, #8B4513);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 131.25% */
    letter-spacing: -0.8px;
}

.balance-section {
    display: flex;
    /* padding: 0 24px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.balance-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.balance-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.label-text {
    color: var(--secondary-text, #6B6B6B);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.7px;
}

.balance-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.amount-text {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    /* 112.5% */
    letter-spacing: -0.96px;
    background: linear-gradient(180deg, #8B4513 25%, #B87333 50%, #8B4513 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.transaction-summary {
    width: 100%;
    padding: 4px 16px;
    background-color: #fed7aa;
    /* orange-200 */
    border-radius: 12px;
    box-shadow: inset 0px 2px 8px 0px rgba(255, 251, 240, 1);
    outline: 0.2px solid #fffbf0;
    /* yellow-50 */
    outline-offset: -0.2px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.summary-content {
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.summary-label {
    display: flex;
    height: 26px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.summary-text {
    color: var(--warm-wood, #8B4513);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 107.143% */
    letter-spacing: -0.7px;
    cursor: pointer;;
}

.arrow-icon {
    width: 6px;
    height: 16px;
    outline: 2px solid #92400e;
    /* amber-800 */
    outline-offset: -1px;
}

.reward-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    background: var(--app-foreground, #FAFAFA);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 16px
}

.card-header {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.title-text {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 131.25% */
    letter-spacing: -0.8px;
}

.card-contentse {
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px;
}

.bold-0 {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.8px;
}

.message-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.message-body {
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.message-text {
    text-align: center;
}

.message-text .normal {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 131.25% */
    letter-spacing: -0.8px;
}



.message-text .heart {
    color: var(--warning-orange, #CC4125);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.8px;
}

.reward-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.reward-text {
    text-align: center;
}

.reward-text .medium {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 107.143% */
    letter-spacing: -0.7px;
}

.reward-text .amount {
    color: var(--success-green, #6B8E23);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.7px;
}

.reward-text .bold {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.7px;
}

.claim-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--steel_dark, #C0C0C0);
    background: var(--turmeric, #E6B800);
}


.button-content {
    display: flex;
    width: 136px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.button-text {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 129.412% */
    letter-spacing: -0.51px;
}

.referrals-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--steel_light, #E8E8E8);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 16px;
}

.card-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}



.title-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.title-text {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 131.25% */
    letter-spacing: -0.8px;
}

.menu-item {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--cream-walls, #FFF8DC);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}


.item-label-label .label-text {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 131.25% */
    letter-spacing: -0.8px;
}



.item-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.scan-claim-card {
    display: inline-flex;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    border: 0.5px solid var(--copper-accents, #B87333);
    background: var(--warm-beige, #F5DEB3);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    /* float: right; */
    margin-top: 16px;
}

.card-contentscan {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.title-textS {
    color: var(--Primary-Text, #2C2C2C);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 125% */
    letter-spacing: -0.8px;
}

/* .transaction-card {
    display: flex;
width: 386px;
padding: 0 8px 8px 8px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
    border-radius: 16px;
background: var(--app-foreground, #FAFAFA);
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
} */

.card-contenthistory {
    width: 384px; /* w-96 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.header-section {
    /* width: 44px; */
    height: 44px;
    position: relative;
}

.header-icon-wrapper {
    position: absolute;
    left: 8px;
    top: 8px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header-icon {
    width: 28px;
    height: 28px;
    position: relative;
    overflow: hidden;
}

.icon-shape {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 1.88px;
    top: 1.88px;
    background-color: #27272a; /* zinc-800 */
}

.download-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.download-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.download-badge {
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.download-text {
    color: var(--secondary-text, #6B6B6B);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; /* 110% */
    letter-spacing: -0.5px;
}





.month-section {
    display: flex;
    width: 370px;
    padding: 16px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.month-header {
    display: flex;
    height: 22px;
    align-items: center;
    gap: 8px;
}

.month-title {
    color: var(--Primary-Text, #2C2C2C);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 114.286% */
letter-spacing: -0.7px;
}

.transaction-item {
    display: flex;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
border-bottom: 0.4px dashed var(--steel_dark, #C0C0C0);
background: var(--cream-walls, #FFF8DC);
}

.transaction-item.highlighted {
    background-color: #fffbeb; /* yellow-50 */
}



.credit-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1px;
    top: 1px;
    background-color: #27272a; /* zinc-800 */
}

.referral-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1px;
    top: 2px;
    background-color: #27272a; /* zinc-800 */
    outline: 0.4px solid #f5f5f5; /* stone-100 */
    outline-offset: -0.2px;
}

.transaction-details {
    flex: 1;
    padding: 4px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.transaction-description {
    display: flex;
    height: 15px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.description-text {
    overflow: hidden;
color: var(--Primary-Text, #2C2C2C);
text-overflow: ellipsis;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 125% */
letter-spacing: -0.6px;
}

.description-text .heart {
    color: #c2410c; /* orange-700 */
}

.transaction-meta {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.date-badge {
    display: flex;
    height: 11px;
    align-items: center;
    gap: 8px;
}

.date-text {
    color: var(--secondary-text, #6B6B6B);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; /* 110% */
    letter-spacing: -0.5px;
}

.validity-badge {
    height: 10px;
    padding: 0 8px;
    background-color: #fed7aa; /* orange-200 */
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.validity-text {
    color: #27272a; /* zinc-800 */
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}

.transaction-amount {
    display: flex;
    padding: 0 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.amount-sign {
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.sign-text {
   
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
    letter-spacing: -0.8px;
}

.sign-text.debit {
    color: var(--error, #B22222);
}

.sign-text.credit {
    color: var(--success-green, #6B8E23);
}

.amount-value {
    display: flex;
    height: 15px;
    align-items: center;
    gap: 8px;
}

.amount-texts {
  
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 107.143% */
    letter-spacing: -0.7px;
}

.amount-texts.debit {
    color: var(--error, #B22222);
}

.amount-texts.credit {
    color: var(--success-green, #6B8E23);
}
.history-modals .modal-content{
    width: 90% !important;
}
.history-modals .modal-dialog{
    display: flex;
    justify-content: center;
}